<div class="home" style="height: 580px; width: 100%;">
    <div class="cover" [style.background-color]="primaryColor"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center text-md-left">
            <div class="title">Angular Color</div>
            <div class="description">
                Fork of <a href="https://github.com/scttcper/ngx-color">ngx-color</a> by scttcper
            </div>
            <div class="description">
                A Collection of Color Pickers from Sketch, Photoshop, Chrome, Github, Twitter, Material Design &amp; more &amp; enhanced
            </div>
            <div class="mt-4">
                <mdo-github-button size="large" count="true" user="daimoonis" repo="ngx-color">
                </mdo-github-button>
                <span class="description ml-5">Theme:</span>
                <mat-menu #colorMenu="matMenu">
                    <button mat-menu-item (click)="setTheme('ngx-color-light-theme')">Light theme</button>
                    <button mat-menu-item (click)="setTheme('ngx-color-dark-theme')">Dark theme</button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="colorMenu" class="primary-bg-color primary-text-color ml-1">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center justify-content-md-end mt-5">
                <div style="padding-top: 20px; display: block">
                    <ngx-color-chrome [color]="state" (onChangeComplete)="changeComplete($event)">
                    </ngx-color-chrome>
                    <div class="text-center label">Chrome</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div style="width: 220px; display: inline-block;">
                    <ngx-color-sketch [color]="state" [presetColors]="sketchPresetColors" (onChangeComplete)="changeComplete($event)">
                    </ngx-color-sketch>
                    <div class="text-center label">Sketch</div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3 d-md-inline d-none">
            <ngx-color-photoshop [color]="state" (onChangeComplete)="changeComplete($event)">
            </ngx-color-photoshop>
            <div class="text-center label">Photoshop</div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3 mt-3 mt-md-5">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div style="width: 170px; display: inline-block">
                    <ngx-color-block [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-block>
                </div>
            </div>
            <div class="text-center label">Block</div>
        </div>
        <div class="col-md-9 mt-3 mt-md-5">
            <div class="row">
                <div class="col-md-5 px-0 mb-4">
                    <div class="d-flex justify-content-center">
                        <div style="width: 220px; display: inline-block">
                            <ngx-color-github [color]="state" triangle="top-right" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-github>
                        </div>
                    </div>
                    <div class="text-center label">Github</div>
                </div>
                <div class="col-md-7 px-2 pl-0 d-sm-inline d-none">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <div style="width: 316px; display: inline-block">
                            <ngx-color-hue-picker [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-hue-picker>
                            <div class="text-center label">Hue</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <div style="width: 316px; display: inline-block">
                            <ngx-color-alpha-picker [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-alpha-picker>
                            <div class="text-center label">Alpha</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 mt-3">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div style="width: 276px; display: inline-block">
                            <ngx-color-twitter [color]="state" triangle="top-right" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-twitter>
                            <div class="text-center label">Twitter</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 pl-0">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div style="display: inline-block">
                            <ngx-color-circle [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-circle>
                            <div class="text-center label">Circle</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 mb-3">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div style="width: 410px;display: inline-block">
                    <ngx-color-slider [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-slider>
                    <div class="pt-3 text-center label">Slider</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-7">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div style="width: 245px; display: inline-block">
                            <ngx-color-compact [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-compact>
                            <div class="text-center label">Compact</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div style="display: inline-block">
                            <ngx-color-material [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-material>
                            <div class="text-center label">Material</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-md-inline d-none">
            <div class="d-flex justify-content-center justify-content-md-start">
                <div style="width: 320px;display: inline-block">
                    <ngx-color-swatches [color]="state" (onChangeComplete)="changeComplete($event)" (onChange)="changeComplete($event)"></ngx-color-swatches>
                    <div class="text-center label">Swatches</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>